:root {
  --background-color: #ededed;
  --foreground-color: #050315;
  --foreground-muted-color: #575759;
  --primary-color: #ffece4;
  --card-background-color: #fcfdff;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--foreground-color);
  background: var(--background-color);
}

// Reset some browser styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
